.fw-bold{
    font-weight: bold;
}
.m-0{
    margin:0
}
.width-150px{
    width: 150px;
}
.mt-2{
    margin-top: 1em;
}
.text-capitalize{
    text-transform: capitalize;
}
.d-flex{
    display : flex;
}
.flex-column{
    flex-direction: column;
}
.align-items-start{
    align-items: flex-start;
}
.fluid-container{
    margin-top:3em;
    margin-left:1em;
}

/* special */
.button-10 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;
  
    color: #fff;
    background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
     background-origin: border-box;
    box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-10:focus {
    box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
  }
  a{
    text-decoration: none;
    color:  #ffffff
}
.to-right{
    display:flex;;
    justify-content: end;
}