* {
    box-sizing: border-box;
  }
  
  button {
    border: 0;
    padding: 0;
    font-family: inherit;
    background: transparent;
    color: inherit;
    cursor: pointer;
  }
  
  .navbar {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 64px;
    background: #19191c;
    color: #f9f9f9;
    font-family: "Poppins";
    box-sizing: border-box;
  }
  
  @media only screen and (min-width: 600px) {
    .navbar {
      justify-content: space-between;
      padding: 0 0 0 16px;
    }
  }
  
  .navbar-overlay {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
  }
  
  body.open .navbar-overlay {
    visibility: visible;
    opacity: 1;
  }
  
  @media only screen and (min-width: 600px) {
    .navbar-overlay {
      display: none;
    }
  }
  
  .navbar-burger {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 64px;
    height: 64px;
    padding: 0;
  }
  
  @media only screen and (min-width: 600px) {
    .navbar-burger {
      display: none;
    }
  }
  
  .navbar-title {
    margin: 0;
    font-size: 16px;
  }
  
  .navbar-menu {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    translate: -100% 0;
    width: 270px;
    height: 100%;
    padding: 20px;
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: flex-start;
    background: #000000;
    visibility: hidden;
    transition: translate 0.3s;
  }
  
  body.open .navbar-menu {
    translate: 0 0;
    visibility: visible;
  }
  
  @media only screen and (min-width: 600px) {
    .navbar-menu {
      position: static;
      translate: 0 0;
      width: auto;
      background: transparent;
      flex-direction: row;
      visibility: visible;
    }
  }
  
  .navbar-menu > button {
    color: rgba(255, 255, 255, 0.5);
    background: transparent;
    padding: 0 8px;
  }
  
  .navbar-menu > button.active {
    color: inherit;
  }
  
  /* end navbar css */

  @import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

  * {
    box-sizing: border-box;
  }
  
 body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
  /* body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    font-family: 'DM Sans', sans-serif;
    transition: background .4s ease-in;
    background-color: #c394f8;
    
    &.blue {
      background-color: #428aa6;
    }
  } */
  
  input[type=radio] {
    display: none;
  }
  
  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2992dc;
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform .4s ease;
    cursor: pointer;
  }
  
  .container {
    margin-top: 2em;
    /* width: 100vh; */
    /* max-width: 800px;
    max-height: 600px; */
    height: 100vh;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 10px;
    font-family: 'DM Sans', sans-serif;
    transition: background .4s ease-in;
    background-color: #c394f8;
    
    &.blue {
      background-color: #428aa6;
    }
  }
  
  .cards {
    position: relative;
    width: 70%;
    height: 70%;
    margin-bottom: 20px;
  }
  
  img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
  }
  
  #item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2 {
    transform: translatex(-40%) scale(.8);
    opacity: .4;
    z-index: 0;
  }
  
  #item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-1 {
    transform: translatex(40%) scale(.8);
    opacity: .4;
    z-index: 0;
  }
  
  #item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;
    
    img {
      box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
    }
  }
  
  .player {
    background-color: #fff;
    border-radius: 8px;
    min-width: 320px;
    padding: 16px 10px;
  }
  
  .upper-part {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    height: 36px;
    overflow: hidden;
  }
  
  .play-icon{ margin-right: 10px; }
  
  .song-info {
    width: calc(100% - 32px);
    display: block;
  }
  
  .song-info .title {
    color: #403d40;
    font-size: 14px;
    line-height: 24px;
  }
  
  .sub-line {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .subtitle, .time {
    font-size: 12px;
    line-height: 16px;
    color: #c6c5c6;
  }
  
  .time {
    font-size: 12px;
    line-height: 16px;
    color: #a5a5a5;
    font-weight: 500;
    margin-left: auto;
  }
  
  .progress-bar {
    height: 3px;
    width: 100%;
    background-color: #e9efff;
    border-radius: 2px;
    overflow: hidden;
  }
  
  .progress {
    display: block;
    position: relative;
    width: 60%;
    height: 100%;
    background-color: #2992dc;
    border-radius: 6px;
  }
  
  .info-area {
    width: 100%;
    position: absolute;
    top: 0;
    left: 30px;
    transition: transform .4s ease-in;
  }
  
  #item-2:checked ~ .player #test {
    transform: translateY(0);
  }
  
  #item-2:checked ~ .player #test  {
    transform: translateY(-40px);
  }
  
  #item-3:checked ~ .player #test  {
    transform: translateY(-80px);
  }

  /* end carousel  css */



/* CSS */
.button-10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;

  color: #fff;
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-10:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}


.move-page-button{
    margin-top: 1em;
    width: 30em;
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color:  #ffffff
}